@import "tailwindcss";

:root {
  --background: #333333;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* replace Google Geist with our local fonts */
  --font-programme: var(--font-programme);
  --font-suprapower: var(--font-suprapower);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #27272a inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
  caret-color: #e5e7eb !important;
  border: 2px solid #3b82f6 !important;
  transition: background-color 9999s ease-in-out 0s;
}

body {
  font-family: var(--font-programme), sans-serif;
}

/* All headings use Suprapower font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-suprapower), sans-serif;
}
